body{
    background-color: rgb(77, 82, 84);
    color:rgb(202, 185, 185);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

header
{
    position: sticky;
    width: 100%;
    top:0;
    opacity: 0.5;
    background-color: #433d3d ;
    transition: all .2s;
    z-index: 900;
    height: auto;
    transition:  opacity .5s;
}

header:hover
{
    opacity: 1;
}


.imagewall
{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.imagewall img{
    height: 15em;

}

img
{
    z-index: 0;
}
.navigation
{
    display: flex;
    margin: auto;
    height: auto;
    align-content: center;
    
}
.nav-div
{
    margin-left: auto;
    margin-top: auto;
    display: flex;
}


.navigation ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    vertical-align: center;
}


a:link,
a:visited
{
    text-decoration: none;
    color:#ffffff;
    transition: all .5s;
}
a:hover
{
    color:black;

}


.nav-item a:link,
.nav-item a:visited
{
    
    padding: 10px 5px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    text-transform: uppercase;
    color:white;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    transition: all .2s;
}


.nav-item:not(:last-child)
{
    border-right: 1px solid #90100d;
}

.nav-item:hover
{
    background-color: #90100d;
    color: #222222
}




h2
{
    font-size: 14px;
    padding: 5px 5px;
    background-color: #837777;
    text-align: center;
    width: 100%;
}

p
{
    padding:5px 5px;
    font-size: 12px;
    width: 80em;
    text-indent: 1em;
}


.listing
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.liste-anime li,
.liste-manga li,
.liste-webtoon li
{
    font-size: 12px;
    list-style-type: disc;
    
    padding: 5px 5px;
}

article
{
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer{
    position:fixed ;
    bottom:0;
    width: 100%;
    opacity: 0;
    height: auto;
    background: #433d3d;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    transition: opacity .5s;
}





.slider figure img
{
    
    width: 20%;
}



footer:hover
{
    opacity: 1;
}

form
{
    display: flex;
    flex-direction: column;
    border: 2px ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

input
{
    margin-top: 5px;
    margin-bottom: 5px;

    border-radius: 2px;
    border-width: 4px;
}